.wrap {
    display: grid;
    place-items: center;
    grid-template-rows: 70px 1fr 1fr;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: start;


    ul li{
        width: 100px;
        height: 45px;
        border: 1px solid black;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;


                font-size: 14px;
    }
}