.wrap {
    display: grid;
    place-items: center;
    grid-template-rows: 70px 1fr 1fr;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: start;

        th:first-child{
            min-width: 25px;
        }
}